 
* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  box-sizing: border-box;
}
body{
 background-color:  rgb(240,240,255);
}
a{
 color: rgb(10,20,10);
 text-decoration: none;
}
.flex-1{
 flex: 1;
}
li{
 list-style: none;
 margin: 0;
}
nav{
 background: rgb(250,255,255);
 padding: 20px 5vw;
 display: flex;
 flex-direction: row;
 align-items: center;
 position: sticky;
 top: 0;
 justify-content: space-between;
 width: 100%;
}
nav h1{
 font-weight: 500;
 font-size: 37px;
}
nav h1 i{
 color: rgb(7, 83, 39);
 margin-left: 10px;
}
.complete-home-background{
 background-color: rgb(202,250,200);
 padding: 30px 10vw;
 text-align: center;
}
h1, h2, h3, h4, h5{
 font-weight: 500;
}
div h1{
 font-size: 40px;
}
div h4{
 padding: 5px 0 30px 0;
 font-size: 20px;
}
div article{
 padding: 20px;
 display: flex;
 border-radius: 10px;
 transition: 1s;
 margin-bottom: 20px;
 align-items: center;
 text-align: left;
 flex-direction: row;
 background: rgb(240,240,255);
}
div article:hover{
 background: rgb(7, 83, 39);
 color: rgb(240,240,255);
}
div article img{
 height: 160px;
 width: 160px;
 border-radius: 3px;
 margin-right: 30px;
}